{
  "debug_server_port": ":8000",
  "aes_password": "",
  "rsa_public_key": "",
  "bot_api": {
    "endpoint": "https://pdahelp.info/web/message",
    "token": "",
    "recipients": []
  },
  "venbest": {
    "server": "78.137.4.125",
    "port": 19001,
    "username": "",
    "ppk_number": 0,
    "password": "",
    "license_key": [
      0,
      0,
      0,
      0,
      0,
      0
    ]
  }
}
